<br>
<b>
    <a href="/auth/forcedotcom">Login with Force.com</a>
</b>
<br>
<br>
<b>Registering your app to perform OAuth against Salesforce</b>
<OL>
    <li>Create a Salesforce Developer Edition Org. at:<a href="http://developer.force.com/join" target="_blank">http://developer.force.com/join</a></li>
    <li>Login as Admin and go to `Setup > Create > Apps`, and create a new "Connected App"</li>
    <li>Provide your app name. e.g. MyCoolApp</li>
    <li>Provide callback information e.g. running locally: http://localhost:3000/auth/forcedotcom/callback</li>
</OL>
<br>
<b>Configure this app:</b>
<OL>
    <li> Set clientID, clientSecret & callback url that you got after creating "connected app" within app.js</li>
    <li> To Run locally: 
    </li>
</OL>

